<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Certificate Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body >
    <div class="container">
    <div class="Welcome">
        <p>Welcome to Certificate Collection!</p>
        <p>Explore and manage your participation certificates easily.</p>
    </div>
    <div class="btn">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</div>
</body>
</html>
